@mixin listItem {

    @include list-item;

    width: 100%;
    height: $LIST_ITEM_HEIGHT;
    background-color: black;
    list-style: none;
    display: flex;
    align-items: center;

    &-title {

        @include list-item-title;

        $LINE_HEIGHT: 1.3rem;

        margin-right: $LIST_ITEM_MARGIN;
        line-height: $LINE_HEIGHT;
        max-height: calc(#{$LINE_HEIGHT} * 3);
    }
}

.listItem {

    @include listItem;

    &-active {

        @include listItem;

        background-color: gray;
    }

    &-image {

        $size: $LIST_ITEM_HEIGHT - $LIST_ITEM_MARGIN * 2;

        min-width: $size;
        min-height: $size;
        max-width: $size;
        max-height: $size;
        object-fit: contain;
        object-position: center;
        margin: auto $LIST_ITEM_MARGIN;
        pointer-events: none;
        
        &-intersection {
    
            animation: fade $DURATION_ANIMATION_FADE ease-out;
        }
    
        &-error {
    
            opacity: 0;
        }
    }
}