@mixin listItem {

    width: 100%;
    height: $LIST_ITEM_HEIGHT;
    background-color: black;
    list-style: none;
    display: flex;
    align-items: center;
    border: 1px solid gray;

    &-title {

        color: white;
        font-weight: 700;
        text-align: center;
        width: 100%;
        margin-right: $LIST_ITEM_MARGIN;
    }
}

.listItem {

    @include listItem;

    &-active {

        @include listItem;

        background-color: gray;
    }
}