.resultDetailTableItemRow {

    &-header {

        display: flex;
        position: sticky;
        left: 0;
        min-width: $RESULTS_TABLE_ITEM_MIN_WIDTH;
        background-color: $COLOR_RESULTS_TABLE_EMPHASIS;

        &-item {
            
            @include table-cell-border($top: false);

            flex: 1 0 0;
            width: 0;
            padding-right: $LIST_ITEM_MARGIN;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;

            &::before {

                display: inline-block;
                position: relative;
                top: -2px;
                width: 24px;
                color: black;
                text-align: right;
                margin-right: $LIST_ITEM_MARGIN;
                font-size: $FONT_SIZE_TINY;
                counter-increment: item-index;
                content: counter(item-index) ":";
            }
        }

        &-score {

            @include table-cell-border($top: false, $left: false);

            width: $RESULTS_TABLE_USER_WIDTH;
            text-align: center;
            background-color: $COLOR_RESULTS_TABLE_AUXILIARY;
        }
    }

    &-rank {

        @include table-cell-border($top: false, $left: false);

        width: $RESULTS_TABLE_USER_WIDTH;
        text-align: center;
    }
}