.resultDetail {

    margin: auto;
    max-height: 100%;
    overflow: auto;
    counter-reset: item-index;
    
    &-container {
        
        &-preloader {
    
            @include preloader($size: $PRELOADER_SIZE);
    
            $CENTER: calc(50% - #{$PRELOADER_SIZE} / 2);
    
            position: absolute;
            top: $CENTER;
            left: $CENTER;
        }

        &-table {

            background-color: $COLOR_RESULTS_TABLE_BACKGROUND;
            border-spacing: 0;
        }
    }
}