$APP_BACKGROUND_COLOR: #242424;
$APP_EMPHASIS_COLOR: rgb(110, 110, 150);
$APP_SECONDARY_COLOR: #707070;

$FONT_SIZE_NORMAL: 1rem;
$FONT_SIZE_SMALL: 0.75rem;
$FONT_SIZE_TINY: 0.6875rem;

$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_BOLD: 700;

$DURATION_ANIMATION_FADE: 250ms;
$DURATION_TRANSITION_BUTTON: 100ms;
$DURATION_TRANSITION_INPUT: 150ms;

$CONTROL_PADDING_TOP: 10px;
$CONTROL_PADDING_LEFT: 12px;
$CONTROL_DROP_SHADOW: 0 3px 6px  black;

$FORM_GAP: 14px;

$ERROR_RESPONSE_HEIGHT: 28px;

$LIST_ITEM_HEIGHT: 80px;
$LIST_ITEM_MARGIN: 10px;

$ITEM_DETAIL_TITLE_HEIGHT: 40px;

$RESULTS_TABLE_USER_WIDTH: 60px;
$RESULTS_TABLE_USER_HEIGHT: 150px;
$RESULTS_TABLE_ITEM_MAX_WIDTH: 240px;
$RESULTS_TABLE_BACKGROUND_COLOR: #000000;