$FONT_SIZE_NORMAL: 1rem;
$FONT_SIZE_SMALL: 0.75rem;
$FONT_SIZE_TINY: 0.6875rem;

$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_BOLD: 700;

$DURATION_ANIMATION_FADE: 250ms;
$DURATION_TRANSITION_BUTTON: 100ms;
$DURATION_TRANSITION_INPUT: 150ms;

$INPUT_PADDING_TOP: 10px;
$INPUT_PADDING_LEFT: 12px;

$FORM_GAP: 14px;

$ERROR_RESPONSE_HEIGHT: 28px;

$LIST_ITEM_HEIGHT: 80px;
$LIST_ITEM_MARGIN: 10px;

$ITEM_DETAIL_TITLE_HEIGHT: 40px;

$RESULTS_TABLE_USER_WIDTH: 60px;
$RESULTS_TABLE_USER_HEIGHT: 150px;
$RESULTS_TABLE_ITEM_MAX_WIDTH: 240px;
$RESULTS_TABLE_BACKGROUND_COLOR: #000000;