:root {

    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
    background-color: $APP_BACKGROUND_COLOR;
    font-size: 16px;
    font-family: "Muli", sans-serif;
    font-weight: $FONT_WEIGHT_NORMAL;
}