:root {

    --FORM_GAP: #{$FORM_GAP};
    --LIST_WIDTH_BOUNDARY: #{$LIST_WIDTH_BOUNDARY};

    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
    background-color: $COLOR_BACKGROUND;
    font-size: 16px;
    font-family: "Muli", sans-serif;
    font-weight: $FONT_WEIGHT_NORMAL;
}