.dialog {

    $DIALOG_PADDING: 20px;

    background-color: gray;
    padding: $DIALOG_PADDING;

    &-messageContainer {

        text-align: center;
    }

    &-buttonsContainer {

        margin-top: $DIALOG_PADDING;
        text-align: right;

        button {
            
            margin-left: $DIALOG_PADDING / 2;
        }
    }
}