.dialog {

    display: flex;
    flex-direction: column;
    background-color: $COLOR_BACKGROUND;
    padding: $FORM_GAP * 2;

    &-content {

        margin-bottom: $FORM_GAP;
    }

    &-submit {

        align-self: flex-end;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: $FORM_GAP;

        &-preloader {

            @include preloader($size: $PRELOADER_SIZE);

            margin-right: $FORM_GAP;
        }

        button:not(:nth-of-type(1)) {

            margin-left: $FORM_GAP;
        }
    }
}