.userDetail {

    @include modal-detail-image;

    &-icon {

        object-fit: contain;
        min-height: 0;
        padding: $FORM_GAP $FORM_GAP 0;
        -webkit-user-drag: none;

        & > svg {

            @include avatar-icon;
            
            width: 50%;
            height: 100%;
            transform: translateX(50%);
        }
    }

    &-info {
        
        width: 100%;
        padding: $FORM_GAP;

        &-name {

            @include label-info;

            padding-bottom: $FORM_GAP;
        }
        
        &-email,
        &-ip {

            &-entry {

                @include label-entry;
            }
        }

        &-missing-data {

            @include label-info;
        }
    }
}