$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_BOLD: 700;

$ANIMATION_FADE: 250ms;

$LIST_ITEM_HEIGHT: 80px;
$LIST_ITEM_MARGIN: 10px;

$ITEM_DETAIL_TITLE_HEIGHT: 40px;

$RESULTS_TABLE_USER_WIDTH: 60px;
$RESULTS_TABLE_USER_HEIGHT: 150px;
$RESULTS_TABLE_ITEM_MAX_WIDTH: 240px;
$RESULTS_TABLE_BACKGROUND_COLOR: #000000;