$FONT_SIZE: 16px;
$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_BOLD: 700;

$LIST_WIDTH: 250px;

$LIST_ITEM_HEIGHT: 80px;
$LIST_ITEM_MARGIN: 10px;

$RESULTS_TABLE_HEADER_HEIGHT: 150px;
$RESULTS_TABLE_ITEM_MAX_WIDTH: 240px;