@mixin nav-button-base {

    border: none;
    color: white;
    cursor: pointer;
    margin: 20px 10px;
    outline: none;
    padding: 10px;

    &:hover {
        
        background-color: rgb(80, 80, 80);
    }

    &:active {

        color: gray;
    }
}

@mixin nav-button {

    @include nav-button-base;

    background-color: black;
}

@mixin nav-button-selected {

    @include nav-button-base;

    background-color: gray;
}

@mixin protected-container-header {

    width: 100%;
    border: 1px solid gray;
    margin: $LIST_ITEM_MARGIN;
    word-wrap: break-word;
}