@mixin nav-button-base {

    border: none;
    color: white;
    cursor: pointer;
    margin: 30px 5px;
    outline: none;
    padding: 5px 40px;

    &:hover {
        
        background-color: rgb(80, 80, 80);
    }

    &:active {

        color: gray;
    }
}

@mixin nav-button {

    @include nav-button-base;

    background-color: black;
}

@mixin nav-button-selected {

    @include nav-button-base;

    background-color: gray;
}