.adminCredentials {

    display: flex;
    flex-direction: column;

    &-error {

        @include error-invalid-credentials;

        &-show {

            @include error-invalid-credentials-show;
        }
    }

    &-password {

        margin-top: $FORM_GAP;
    }
}