.inputText {

    $PLACEHOLDER_COLOR: #AAAAAA;

    position: relative;
    transition: all $DURATION_TRANSITION_INPUT ease-in-out;
    width: 100%;

    &-input {
        
        @include input-text;

        transition: inherit;
        
        &-maximize {

            padding-top: calc(#{$INPUT_PADDING_TOP} + 16px);
        }

        &:disabled {

            color: $PLACEHOLDER_COLOR;
        }
    }

    &-placeholder {

        position: absolute;
        top: 0;
        color: $PLACEHOLDER_COLOR;
        padding: $INPUT_PADDING_TOP $INPUT_PADDING_LEFT;
        pointer-events: none;
        transition: inherit;

        &-maximize {

            color: #BBBBBB;
            font-size: $FONT_SIZE_TINY;
            font-weight: $FONT_WEIGHT_BOLD;
        }
    }

    &-error {

        position: absolute;
        top: 3px;
        right: $INPUT_PADDING_LEFT;
        pointer-events: none;
        opacity: 0;
        transition: inherit;

        &-show {

            opacity: 1;
        }
    }
}