.inputPassword {

    display: inline-block;

    &-show::before {

        content: "show";
        background-color: green;
    }

    &-hide::before {

        content: "hide";
        background-color: red;
    }
}