@mixin listItem {

    width: 100%;
    height: $LIST_ITEM_HEIGHT;
    background-color: black;
    list-style: none;
    display: flex;
    align-items: center;
}

.listItem {

    @include listItem;

    &-active {

        @include listItem;

        background-color: gray;
    }
}