.resultsContainer {

    width: 100%;
    height: 100%;
    padding-left: $FORM_GAP;

    &-preloader {

        @include preloader($size: $PRELOADER_SIZE);

        $CENTER: calc(50% - #{$PRELOADER_SIZE} / 2);
    
        position: absolute;
        top: $CENTER;
        left: $CENTER;
    }

    &-message {

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        &-label {

            text-align: center;
            color: $COLOR_AUXILIARY_LIGHT;
        }
    }

    &-list {

        @include scrollbar;

        & > div {

            & > div {
                
                transform: translateY($FORM_GAP);
                padding-bottom: $FORM_GAP;
            }
        }

        &-itemSizeContainer {

            padding-bottom: $FORM_GAP;
        }
    }
}