.result {

    width: calc(100% - #{$FORM_GAP});

    & > .button {

        width: 100%;

        & .resultActiveLabel {
    
            display: flex;
            justify-content: space-between;

            &-icon {

                position: relative;
                top: 3px;
            }
        }
    }
}