.resultsContainer {

    &-preloader {

        @include preloader($size: $PRELOADER_SIZE);

        $CENTER: calc(50% - #{$PRELOADER_SIZE} / 2);
    
        position: absolute;
        top: $CENTER;
        left: $CENTER;
    }
}