.button {

    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: $FONT_WEIGHT_BOLD;
    color: white;
    white-space: nowrap;
    text-transform: uppercase;
    border: none;
    user-select: none;
    cursor: pointer;
    transition: all $DURATION_TRANSITION_BUTTON ease-in-out;

    &:disabled {

        cursor: default;
        filter: brightness(75%);
    }

    &:not(:disabled) {

        @include mq-hover {
            
            &:hover {
                
                filter: brightness(112%);
            }
        }

        &:active {

            filter: brightness(88%);
        }
    }

    &-submit {

        padding: $CONTROL_PADDING_TOP $CONTROL_PADDING_LEFT;
        background-color: $APP_SECONDARY_COLOR;
        box-shadow: $CONTROL_DROP_SHADOW;

        &-emphasis {

            padding: $CONTROL_PADDING_TOP $CONTROL_PADDING_LEFT;
            background-color: $APP_EMPHASIS_COLOR;
            box-shadow: $CONTROL_DROP_SHADOW;
        }
    }

    &-navigation {

        $NAVIGATION_UNDERLINE_HEIGHT: 4px;
        $NAVIGATION_PADDING: 8px 0 8px;

        flex: 0 0 0;
        color: darkgray;
        background-color: transparent;
        border-bottom: $NAVIGATION_UNDERLINE_HEIGHT solid transparent;
        padding: $NAVIGATION_PADDING;

        &-selected {

            flex: 0 0 0;
            background-color: transparent;
            border-bottom: $NAVIGATION_UNDERLINE_HEIGHT solid $APP_EMPHASIS_COLOR;
            padding: $NAVIGATION_PADDING;
        }
    }
}