.button {
    
    @include button(

        $controlSize: $CONTROL_SIZE,
        $labelWeight: $FONT_WEIGHT_BOLD,
        $labelColor: white,
        $labelPadding: $CONTROL_PADDING_HORIZONTAL,
        $animationDuration: $DURATION_ANIMATION_FAST
    );

    &-submit {

        background-color: $COLOR_AUXILIARY;

        &-emphasis {

            background-color: $COLOR_EMPHASIS;
        }
    }

    &-navigation {

        $NAVIGATION_LABEL_PADDING: 0 0;
        $NAVIGATION_LABEL_UNDERLINE_HEIGHT: 4px;

        color: darkgray;
        background-color: transparent;
        padding: $NAVIGATION_LABEL_PADDING;
        box-shadow: none;

        border-bottom:
            $NAVIGATION_LABEL_UNDERLINE_HEIGHT
            solid
            transparent;

        &-selected {

            background-color: transparent;
            padding: $NAVIGATION_LABEL_PADDING;
            box-shadow: none;

            border-bottom:
                $NAVIGATION_LABEL_UNDERLINE_HEIGHT
                solid
                $COLOR_EMPHASIS;
        }
    }
}