.collapsible {

    width: 100%;

    & > .button {

        width: 100%;
    }

    &-arrow {

        height: 0.65rem;
        margin-right: $CONTROL_PADDING_TOP;
        transition: all $DURATION_ANIMATION_SLOW ease-in-out;
        filter: invert(65%);

        &-expanded {

            transform: rotate(90deg);
        }
    }

    &-content {

        background-color: scale-color($color: $COLOR_AUXILIARY, $lightness: -50%);
        box-shadow: $CONTROL_DROP_SHADOW;
        overflow: hidden;
        transition: height $DURATION_ANIMATION_SLOW ease-in-out;
    }
}