.collapsible {

    width: 100%;

    & > .button {

        width: 100%;
    }

    &-arrow {

        display: inline-block;
        width: $FONT_SIZE_TINY;
        margin-right: $CONTROL_PADDING_VERTICAL;
        
        transition:
            all
            $DURATION_ANIMATION_SLOW
            ease-in-out;

        filter: invert(65%);

        &-expanded {

            transform: rotate(90deg);
        }
    }

    &-content {

        @include dropShadow($CONTROL_SIZE);

        background-color: scale-color(
            $color: $COLOR_AUXILIARY,
            $lightness: -50%
        );

        overflow: hidden;

        transition:
            height
            $DURATION_ANIMATION_SLOW
            ease-in-out;
    }
}