.collapsible {

    width: 100%;

    &-header {

        &-title {

            &::before {

                content: "⏵ ";
            }

            &-expanded {

                &::before {
                
                    content: "⏷ ";
                }
            }
        }

        &-section {

            background-color: gray;
        }

        &-listItem {

            @include list-item;
        }
    }

    &-content {

        border: 1px solid gray;
        padding: $FORM_GAP;

        &-show {

            display: block;
        }

        &-hide {

            display: none;
        }
    }
}