.inputPassword {

    $BUTTON_SIZE: 40px;

    display: inline-flex;
    position: relative;
    width: 100%;

    .inputText {

        &-input {

            padding-right: $BUTTON_SIZE;
        }

        &-placeholder {

            padding-right: $BUTTON_SIZE;
        }
    }

    &-button {

        $BUTTON_OPACITY: 0.4;

        position: absolute;
        right: 0;
        bottom: 0;
        width: $BUTTON_SIZE;
        height: $BUTTON_SIZE;
        padding: 10px;
        opacity: $BUTTON_OPACITY;
        cursor: pointer;
        -webkit-user-drag: none;
        transition: opacity $DURATION_TRANSITION_BUTTON linear;

        &:disabled {

            cursor: default;
        }

        @include mq-hover {

            &:not(:disabled) {

                &:hover {
                    
                    opacity: 1;
                }

                &:active {

                    opacity: $BUTTON_OPACITY;
                }
            }
        }
    }
}