.inputPassword {

    display: inline-flex;
    position: relative;
    width: 100%;

    .inputText {

        &-input {

            padding-right: $CONTROL_SIZE;
        }

        &-placeholder {

            padding-right: $CONTROL_SIZE;
        }
    }

    & > .button {

        @include dropShadow($color: transparent);
        
        $BUTTON_OPACITY: 0.4;

        position: absolute;
        right: 0;
        bottom: 0;
        width: $CONTROL_SIZE;
        height: $CONTROL_SIZE;
        padding: $CONTROL_PADDING_VERTICAL;
        opacity: $BUTTON_OPACITY;
        background-color: transparent;

        svg {
            
            margin-top: 2px;
        }

        &:disabled {

            cursor: default;
        }

        @include mq-device-desktop {

            &:not(:disabled) {

                &:hover {
                    
                    opacity: 1 - $BUTTON_OPACITY;
                }

                &:active {

                    opacity: $BUTTON_OPACITY;
                }
            }
        }
    }
}