.inputPassword {

    display: inline-flex;
    position: relative;
    width: 100%;

    .inputText {

        &-input {

            padding-right: $CONTROL_SIZE;
        }

        &-placeholder {

            padding-right: $CONTROL_SIZE;
        }
    }

    &-button {

        $BUTTON_OPACITY: 0.4;

        position: absolute;
        right: 0;
        bottom: 0;
        width: $CONTROL_SIZE;
        height: $CONTROL_SIZE;
        padding: 10px;
        border: none;
        background-color: transparent;
        opacity: $BUTTON_OPACITY;
        cursor: pointer;
        -webkit-user-drag: none;
        transition: opacity $DURATION_ANIMATION_FAST linear;

        svg {
            
            margin-top: 2px;
        }

        &:disabled {

            cursor: default;
        }

        @include mq-device-desktop {

            &:not(:disabled) {

                &:hover {
                    
                    opacity: 1;
                }

                &:active {

                    opacity: $BUTTON_OPACITY;
                }
            }
        }
    }
}