.radio {

    $TOGGLE_SIZE: $CONTROL_SIZE;

    @include mq-device-desktop {

        $TOGGLE_SIZE: $CONTROL_SIZE_SMALL;
    }

    @include radio(

        $controlSize: $TOGGLE_SIZE,
        $controlColorSelected: $COLOR_EMPHASIS,
        $controlLabelGap: $FORM_GAP,
        $labelWeight: $FONT_WEIGHT_BOLD,
        $animationDuration: $DURATION_ANIMATION_FAST
    );
}