.radio {

    @include radio(

        $controlSize: $CONTROL_SIZE_SMALL,
        $controlColorSelected: $COLOR_EMPHASIS,
        $controlLabelGap: $FORM_GAP,
        $labelWeight: $FONT_WEIGHT_BOLD,
        $animationDuration: $DURATION_ANIMATION_FAST
    );
}