.toggle {

    display: flex;
    align-items: center;
    
    & > input[type=checkbox] {
        
        $TRACK_WIDTH: 70px;

        appearance: none;
        width: $TRACK_WIDTH;
        height: $CONTROL_SIZE;
        min-width: $TRACK_WIDTH;
        min-height: $CONTROL_SIZE;
        border-radius: $CONTROL_SIZE / 2;
        box-shadow: $CONTROL_DROP_SHADOW;
        transition: all $DURATION_TRANSITION_BUTTON ease-in-out;

        &:checked,
        &:not(:checked) {
            
            position: relative;

            &::before {

                content: "";
                position: absolute;
                width: $CONTROL_SIZE;
                height: $CONTROL_SIZE;
                background-color: white;
                border-radius: 50%;
                transition: all $DURATION_TRANSITION_INPUT ease-in-out;
            }
        }

        &:checked {

            background-color: $COLOR_EMPHASIS;

            &::before {

                transform: translateX($TRACK_WIDTH - $CONTROL_SIZE);
            }
        }

        &:not(:checked) {

            background-color: $COLOR_AUXILIARY;

            &::before {

                transform: translateX(0);
            }
        }

        &:disabled,
        &:disabled + label {
    
            cursor: default;
            filter: brightness(75%);
        }
    
        &:not(:disabled) {
    
            @include mq-device-desktop {
                
                &:hover {
                    
                    cursor: pointer;
                    filter: brightness(88%);
                }
            }
    
            &:active {
    
                filter: brightness(75%);
            }
        }
    }

    & > label {

        padding-left: $FORM_GAP;
        font-weight: $FONT_WEIGHT_BOLD;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-transform: uppercase;
        text-overflow: ellipsis;
        user-select: none;

        @include mq-device-desktop {
                
            &:hover {
                
                cursor: pointer;
                filter: brightness(88%);
            }
        }

        &:active {
    
            filter: brightness(75%);
        }
    }
}