.toggle {

    $TOGGLE_SIZE: $CONTROL_SIZE;

    @include mq-device-desktop {

        $TOGGLE_SIZE: $CONTROL_SIZE_SMALL;
    }

    @include toggle(

        $controlSize: $TOGGLE_SIZE,
        $controlColorOn: $COLOR_EMPHASIS,
        $controlColorOff: $COLOR_AUXILIARY,
        $controlLabelGap: $FORM_GAP,
        $labelWeight: $FONT_WEIGHT_BOLD,
        $animationDuration: $DURATION_ANIMATION_FAST
    );
}