@mixin button-reset {

    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
}

@mixin nav-button-base {

    @include button-reset;

    padding: 10px;

    &:active {
        
        color: black;
    }
    
    @include mq-hover {

        &:hover {
            
            background-color: gray;
        }
    }
}

@mixin nav-button {

    @include nav-button-base;

    background-color: black;
}

@mixin nav-button-selected {

    @include nav-button-base;

    background-color: gray;
}