@mixin button(
    
    $controlSize: auto,
    $controlColor: dodgerblue,
    $labelFamily: inherit,
    $labelSize: inherit,
    $labelWeight: inherit,
    $labelColor: inherit,
    $labelPadding: 4px,
    $animationDuration: 250ms
) {

    @include dropShadow($controlSize);
    
    height: $controlSize;
    background-color: $controlColor;
    font-family: $labelFamily;
    font-size: $labelSize;
    font-weight: $labelWeight;
    color: $labelColor;
    padding: 0 $labelPadding;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    text-transform: uppercase;
    border: none;
    user-select: none;

    transition:
        all
        $animationDuration
        ease-in-out;

    &:disabled {

        cursor: default;
        filter: brightness($CONTROL_BRIGHTNESS_LOW);
    }

    &:not(:disabled) {

        @include mq-device-desktop {
            
            &:hover {
                
                cursor: pointer;
                filter: brightness($CONTROL_BRIGHTNESS_HIGH);
            }
        }

        &:active {

            filter: brightness($CONTROL_BRIGHTNESS_MEDIUM);
        }
    }
}