@mixin confirmation {

    color: gray;
    text-align: center;

    p {

        margin-top: $FORM_GAP;
    }

    span {

        display: inline-block;
        color: white;
        margin: 0 $FORM_GAP;
    }
}