@mixin error-invalid-credentials {

    position: relative;
    top: calc(-1rem / 2);
    pointer-events: none;
    opacity: 0;
    height: 0;
    transition: all $DURATION_ANIMATION_FAST ease-in-out;
}

@mixin error-invalid-credentials-show {

    height: $ERROR_RESPONSE_HEIGHT;
    opacity: 1;
}