@mixin input-text-reset {

    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}

@mixin input-text {

    @include input-text-reset;

    width: 100%;
    padding: $CONTROL_PADDING_TOP $CONTROL_PADDING_LEFT;
    box-shadow: $CONTROL_DROP_SHADOW;
}