@mixin label (

    $size: inherit,
    $weight: inherit,
    $color: inherit,
    $animationDuration: 250ms
) {

    font-size: $size;
    font-weight: $weight;
    color: $color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;

    transition:
        all
        $animationDuration
        ease-in-out;

    @include mq-device-desktop {
            
        &:hover {
            
            cursor: pointer;
            filter: brightness($CONTROL_BRIGHTNESS_MEDIUM);
        }
    }

    &:active {

        filter: brightness($CONTROL_BRIGHTNESS_LOW);
    }
}

@mixin label-info {

    font-weight: 700;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin label-entry {
        
    @include label-info;
    
    font-size: $FONT_SIZE_SMALL;

    &-key {

        color: $COLOR_AUXILIARY;
    }

    &-value {

        margin-left: $FORM_GAP / 2;
        color: lighten($COLOR_AUXILIARY, 20%);

        &-ordinal {
            
            font-size: calc(#{$FONT_SIZE_SMALL} * 0.68);
            vertical-align: super;
        }
    }
}