@mixin modal-detail-image {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    user-select: none;
    
    &-image {

        object-fit: contain;
        min-height: 0;
        padding: $FORM_GAP $FORM_GAP 0;
        -webkit-user-drag: none;
        
        &-intersection {
    
            animation: fade $DURATION_ANIMATION_SLOW ease-out;
        }
    
        &-error {
    
            opacity: 0;
        }

        &-preloader {

            @include preloader($size: $PRELOADER_SIZE);

            position: relative;
            top: calc(#{$PRELOADER_SIZE} / 2);
            left: calc(50% - #{$PRELOADER_SIZE} / 2);
        }
    }
}