@mixin preloader($color: white, $size: 20px, $stroke-percentage: 40%, $animation-duration: 0.5s) {

    $mask-color-stop: calc(100% - #{$stroke-percentage});

    width: $size;
    height: $size;
    border-radius: 50%;
    background: linear-gradient(
        transparent $stroke-percentage / 2,
        $color
    );
    background: conic-gradient(
        transparent 45deg,
        $color 315deg,
        $color
    );
    mask-image: radial-gradient(
        farthest-side,
        transparent $mask-color-stop,
        white $mask-color-stop
    );
    animation: spin $animation-duration linear infinite;
}