@mixin scrollbar {

    @include mq-device-desktop {

        &::-webkit-scrollbar {
            
            width: 6px;
        }
        
        &::-webkit-scrollbar-thumb {
        
            background-color: $COLOR_AUXILIARY;
        }

        scrollbar-width: thin;
        scrollbar-color: $COLOR_AUXILIARY transparent;
    }
}