@mixin scrollbar {

    @include mq-device-desktop {

        &::-webkit-scrollbar {
            
            $SIZE: 6px;

            width: $SIZE;
            height: $SIZE;
        }
        
        &::-webkit-scrollbar-thumb {
        
            background-color: $COLOR_AUXILIARY;
        }

        &::-webkit-scrollbar-corner {

            display: none;
        }

        scrollbar-width: thin;
        scrollbar-color: $COLOR_AUXILIARY transparent;
    }
}