.editCandidatesContainer {

    &-content {

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &-preloader {

            @include preloader($size: $PRELOADER_SIZE);
        }
        
        &-empty {

            color: gray;
        }
        
        &-shadow {

            @include rulerShadow;

            position: absolute;
            top: 0;
            width: 100%;
        }

        &-list {

            @include scrollbar;

            overflow-x: hidden;

            & > div {

                & > div {

                    padding: $FORM_GAP;
                }
            }

            &-itemSizeContainer {

                padding: $FORM_GAP 0;
            }
        }
    }
}