.login {

    display: flex;
    flex-direction: column;
    padding-top: $FORM_GAP;

    &-error {

        @include error-invalid-credentials;
        
        align-self: flex-end;

        &-show {

            @include error-invalid-credentials-show;
        }
    }

    &-password {

        margin-top: $FORM_GAP;
    }

    &-button {

        align-self: flex-end;
        margin-top: $FORM_GAP;
    }
}