.login {

    display: flex;
    flex-direction: column;
    padding-top: $FORM_GAP;

    &-error {

        @include error-invalid-credentials;
        
        align-self: flex-end;

        &-show {

            @include error-invalid-credentials-show;
        }
    }

    &-password {

        margin-top: $FORM_GAP;
    }

    &-submit {

        align-self: flex-end;

        display: flex;
        align-items: center;
        margin-top: $FORM_GAP;

        &-preloader {

            @include preloader($size: $PRELOADER_SIZE);
        }

        &-button {

            margin-left: $FORM_GAP;
        }
    }
}