.login {

    display: flex;
    flex-direction: column;

    &-error {

        align-self: flex-end;
        position: relative;
        top: $FORM_GAP;
    }

    &-email,
    &-password {

        margin-top: $FORM_GAP;
    }

    button {
        
        margin-top: $FORM_GAP;
        width: 100px;
        text-transform: uppercase;
        align-self: flex-end;
        border: 1px solid cyan;
    }
}