.publicContainer {

    $SIZE: 50%;
    $SIZE_MIN: 256px;
    $SIZE_MAX: 384px;

    @include mq-orientation-landscape { flex-direction: row; }
    @include mq-orientation-portrait  { flex-direction: column; }

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;

    &-icon {

        @include mq-orientation-portrait {

            width: $SIZE;
            min-width: $SIZE_MIN;
            max-width: $SIZE_MAX;
        }

        @include mq-orientation-landscape {

            height: $SIZE;
            min-height: $SIZE_MIN;
            max-height: $SIZE_MAX;
        }
    }

    &-content {

        width: $SIZE;
        min-width: $SIZE_MIN;
        max-width: $SIZE_MAX;

        &-nav {

            &-button {
            
                background-color: gray;
                
                &-selected {

                    background-color: white;
                }
            }
        }
    }
}