.publicContainer {

    display: flex;
    flex-direction: column;
    align-items: center;

    img {

        width: 25vw;
        min-width: 200px;
    }

    &-button {

        @include button;
    
        &-selected {

            @include button-selected;
        }
    }
}