.register {

    display: flex;
    flex-direction: column;

    &-name,
    &-email,
    &-password,
    &-passwordConfirm,
    &-admin {

        margin-top: $FORM_GAP;
    }

    &-submit {

        align-self: flex-end;

        display: flex;
        align-items: center;
        margin-top: $FORM_GAP;

        &-preloader {

            @include preloader($size: $PRELOADER_SIZE);
        }

        &-button {

            margin-left: $FORM_GAP;
        }
    }
}