.reset {

    display: flex;
    flex-direction: column;

    &-email,
    &-password,
    &-passwordConfirm {

        margin-top: $FORM_GAP;
    }

    &-button {

        align-self: flex-end;
        margin-top: $FORM_GAP;
    }
}