.editItem {

    display: flex;
    flex-direction: column;
    padding: $FORM_GAP;
    
    &-thumbnail,
    &-image {

        margin-top: $FORM_GAP;
    }

    &-buttonsContainer {

        align-self: flex-end;

        display: flex;
        flex-direction: row;
        margin-top: $FORM_GAP;

        button:nth-of-type(1) {

            margin-right: $FORM_GAP;
        }
    }
}