.editItemsContainer {

    &-content {

        display: flex;
        flex-direction: column;
        margin: $FORM_GAP;

        &-preloader {

            @include preloader($size: $PRELOADER_SIZE);
    
            align-self: center;
        }

        & > * {

            &:not(:last-child) {

                margin-bottom: $FORM_GAP;
            }
        }
    }
}