.tableUserHeader {

    &-user {

        display: flex;
        width: 60px;
        height: $RESULTS_TABLE_HEADER_HEIGHT;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
        border: 1px solid cyan;

        &-name {
            
            @include table-user-item;
        }

        &-email {
            
            @include table-user-item;

            color: gray;
            font-size: 0.75rem;
        }

        &-ip {
            
            @include table-user-item;

            color: gray;
            font-size: 0.75rem;
        }
    }
}