.tableUserHeader {

    position: sticky;
    top: 0;
    background-color: $RESULTS_TABLE_BACKGROUND_COLOR;

    &-user {

        @include table-cell-border($left: false);

        display: flex;
        width: $RESULTS_TABLE_USER_WIDTH;
        height: $RESULTS_TABLE_USER_HEIGHT;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
        background-color: #666666;
        padding: 10px 0;

        &-name {
            
            @include table-header-user;
        }

        &-email,
        &-ip {
            
            @include table-header-user;

            color: black;
            font-size: $FONT_SIZE_SMALL;
        }
    }
}