.tableItemRow {

    &-score {

        text-align: left;
        width: 100%;
        border: 1px solid pink;
    }

    &-item {

        max-width: $RESULTS_TABLE_ITEM_MAX_WIDTH;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        border: 1px solid red;
    }

    &-rank {

        text-align: center;
        border: 1px solid orange;
    }
}