.voteResultDetail {

    background-color: black;
    overflow: auto;
    
    &-table {

        border: 1px solid white;

        &-info {

            height: $RESULTS_TABLE_HEADER_HEIGHT;
            min-width: $RESULTS_TABLE_ITEM_MAX_WIDTH;

            border: 1px solid yellow;
            
            &-date {

                @include table-info-item;
            }

            &-quantity {

                @include table-info-item;

                color: gray;
            }

            &-total {

                @include table-info-item;

                color: gray;
            }

            &-anonymous {

                @include table-info-item;

                color: gray;
            }

            &-active {

                @include table-info-item;
            }
        }
    }
}