.edit {

    display: flex;
    flex-direction: column;

    &-name,
    &-password,
    &-passwordConfirm {

        margin-top: $FORM_GAP;
    }

    &-admin {

        margin-top: $FORM_GAP;
    }

    button {
        
        margin-top: $FORM_GAP;
        width: 100px;
        text-transform: uppercase;
        align-self: flex-end;
        border: 1px solid cyan;
    }
}