.protectedContainer {

    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;

    &-webSocketMessage {

        @include protected-container-header;
    }

    &-userInfo {

        @include protected-container-header;
    }

    &-nav-button {
    
        background-color: gray;
        &-selected {

            background-color: white;
        }
    }

    &-content {

        display: flex;
        flex-direction: column;
        width: inherit;
        min-width: $SCREEN_MIN_WIDTH;
        max-width: $SCREEN_MAX_WIDTH;
        padding: $FORM_GAP;
        overflow-y: auto;
    }
}