.vote {

    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &-preloader {

        @include preloader($size: $PRELOADER_SIZE);

        $CENTER: calc(50% - #{$PRELOADER_SIZE} / 2);
    
        position: absolute;
        top: $CENTER;
        left: $CENTER;
    }
    
    &-error {
        
        align-self: flex-end;
        margin-top: $FORM_GAP;
    }

    &-buttons {

        align-self: flex-end;
        display: flex;
        flex-direction: row;
        margin-top: $FORM_GAP;

        button:nth-of-type(1) {

            margin-right: $FORM_GAP;
        }
    }
}