.addItem {

    display: flex;
    flex-direction: column;
    
    &-thumbnail,
    &-image {

        margin-top: $FORM_GAP;
    }

    button {
        
        margin-top: $FORM_GAP;
        width: 100px;
        text-transform: uppercase;
        align-self: flex-end;
        border: 1px solid cyan;
    }
}