.addItem {

    display: flex;
    flex-direction: column;
    
    &-thumbnail,
    &-image {

        margin-top: $FORM_GAP;
    }

    &-button {

        align-self: flex-end;
        margin-top: $FORM_GAP;
    }
}