.addItem {

    display: flex;
    flex-direction: column;
    padding: $FORM_GAP;
    
    &-thumbnail,
    &-image {

        margin-top: $FORM_GAP;
    }

    &-submit {

        align-self: flex-end;

        display: flex;
        align-items: center;
        margin-top: $FORM_GAP;

        &-preloader {

            @include preloader($size: $PRELOADER_SIZE);
        }

        &-button {

            margin-left: $FORM_GAP;
        }
    }
}