.adminContainer {

    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $FORM_GAP;
    
    &-manageVote,
    &-addItem,
    &-editItemsContainer {

        margin-bottom: $FORM_GAP;
    }
}