.managePolls {

    $RADIO_BUTTONS_MARGIN: 30px;

    display: flex;
    flex-direction: column;
    padding: $FORM_GAP;

    &-quantity {

        margin-top: $FORM_GAP;
    }

    &-pending {

        margin-top: $FORM_GAP;
        margin-left: $RADIO_BUTTONS_MARGIN;
    }

    &-live {

        margin-top: $FORM_GAP;
        margin-left: $RADIO_BUTTONS_MARGIN;
    }
    
    &-secret {

        margin-top: $FORM_GAP;
    }

    &-button {

        &-open {

            align-self: flex-end;
            margin-top: $FORM_GAP;
        }

        &-close {

            align-self: center;
        }
    }
}