.manageVote {

    $TOGGLE_TRACK_WIDTH_MULTIPLIER: 0.75;
    $RADIO_BUTTON_MARGIN_LEFT: $CONTROL_SIZE * $TOGGLE_TRACK_WIDTH_MULTIPLIER;

    @include mq-device-desktop {

        $RADIO_BUTTON_MARGIN_LEFT: $CONTROL_SIZE_SMALL * $TOGGLE_TRACK_WIDTH_MULTIPLIER;
    }

    display: flex;
    flex-direction: column;
    padding: $FORM_GAP;

    &-deadline {

        input {

            text-transform: capitalize;
        }
    }

    &-quantity {

        margin-top: $FORM_GAP;
    }

    &-pending {

        margin-top: $FORM_GAP;
        margin-left: $RADIO_BUTTON_MARGIN_LEFT;
    }

    &-live {

        margin-top: $FORM_GAP;
        margin-left: $RADIO_BUTTON_MARGIN_LEFT;
    }
    
    &-secret {

        margin-top: $FORM_GAP;
    }

    &-submit {

        align-self: flex-end;

        display: flex;
        align-items: center;
        margin-top: $FORM_GAP;

        &-preloader {

            @include preloader($size: $PRELOADER_SIZE);
        }

        &-button {

            margin-left: $FORM_GAP;
        }
    }
}