.managePolls {

    display: flex;
    flex-direction: column;

    &-quantity {

        margin-top: $FORM_GAP;
    }

    &-results {

        margin-top: $FORM_GAP;
        padding: $FORM_GAP;

        input {

            margin-right: $FORM_GAP;
        }
        
        &-anonymous {

            margin-top: $FORM_GAP;
        }
    }

    &-button {

        &-open {

            align-self: flex-end;
            margin-top: $FORM_GAP;
        }

        &-close {

            align-self: center;
        }
    }
}